*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
 background:url('https://www.artlebedev.com/metro/train/metrotrain-final.jpg');
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
height: 100vh;
  
   display: flex;
   flex-wrap: wrap;


}
.part1{
    display: flex;
    flex-wrap: wrap;
  width: 100vw;
    height: 50px;
    margin-top: 0px;
 

justify-content: flex-end;
    align-items: center;
}
h1{
    color: white;
padding-right: 15px;
font-family:   sans-serif
    
}
.part1 img{
    height: 30px;
    width: 30px;
   margin-right: 10px;
}
.bu{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 123, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
    
}
.name{
    width: 150px;
  color: white;
 font-family: sans-serif;

}
#sec{
    border-right: 2px solid gray;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100px;
    align-self: flex-end;
 flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.685);
}
@media only screen and (max-width:430px),screen and (max-height:550px){
    h4{
        font-size: 10px;
    }
    h2{
        font-size: 16px;
    }
    .part2{
        margin-bottom: 0px;
        height: 150px;

        
    }
    .part1{
       
       background-color: rgba(0, 0, 0, 0.377);
    }
 
    #sec{
        border: none;
    }
    .one{
        border-right: 2px solid gray;
    }
    .name{
        padding: 5px;
    }
}