:root{
    --primary-color:#c72727;
    --secondary-color:#a7a7a7;
    --light-color:#f3f3f3;
    --dark-color:#333;
    --max-width:1100px;
}
.category{
    --sports-color:#f99500;
    --ent-color:#a66bbe;
    --tech-color:#009cff;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}
.nav-item img{
    height: 50px;
    width: auto;
}
.navbar{
    padding: 0 20px;
    background: white;
  
}
.nav-item{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;

    padding: 10px;
}
.icon{
    justify-self: end;
}
.icon i{
    color: var(--dark-color);
    margin: 5px;
}
.icon i:hover{
    color: var(--primary-color);
}
.unorder{
    list-style: none;
    display: flex;
    justify-self: center;
}
.unorder a{
    text-decoration: none;
    color: var(--dark-color);
}
.list{
    padding: 10px;
    font-weight: bold;
}
.list:hover{
    background: var(--primary-color);
    color: white;
}
.showcase{
    background-image: url('4840638.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.showcase::before{
    content: '';
    position: absolute;
  background-color: var(--dark-color);
  height: 100%;
  width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.content{
    color: white;
    z-index: 1;
    width: 500px;
}
.content h3{
  display: inline;
  background-color:#f99500;
  padding: 3px;
  font-weight: normal;
  font-size: 12px;
  border-radius: 5px;
}
.content h1{
    text-transform: uppercase;
}
.content p{
    color: var(--light-color);
}
.button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .icon i{
        font-size: 25px;
    }
    .nav-item{
      grid-template-columns: 0.7fr 1fr 1fr;
    }
  .showcase{
      height: 100vh;
  }
  

}
