*{
margin:0px;
padding:0px;
box-sizing: border-box;
}
body{
    font-family:  sans-serif;
}
#loader{
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: turquoise;
}
.lo{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.home{
    background-image: url('/assets/coffee-beans-with-props-making-coffee.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
 display: flex;
 

}
.home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.432);
}
.row{
display: flex;
flex-direction: column;

width: 50vw;
height: 100vh;
text-align: center;
flex-wrap: wrap;
justify-content: center;
align-items: center;
animation: mymove 5s;
animation-iteration-count: 1;
}
.heading{
    color: rgb(255, 255, 255);
z-index: 1;
   font-size: 80px;
  

}
@keyframes mymove {
   from{
       margin-left: 0px;
   }
   to{
       margin-left: 200px;
   }
    
}
.sub{
    color: chocolate;
    font-size: 100px;
    z-index: 1;
   
}
.btw{
    cursor: pointer;
    background: chartreuse;
   width: 100px;
   
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.8s all;
    
}
.btw:hover{
 transform: scale(1.5);
    
}
.logo img{
    height: 100px;
    width: 100px;
    z-index: 1;
}

.ship{
   display: flex;
   height: 100vh;
   width:100px;
   background: rgba(255, 255, 255, 0.1);
flex-wrap: wrap;
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
flex-direction: column;
position: absolute;
right: 0px;
justify-content: flex-end;
align-items: center;


   
}
.logo{
    z-index: 1;
}
.icons{

    padding: 20px;
    color: white;
    z-index: 1;

}
.icons:hover{
    color: chocolate;
}
.kart{
   padding: 20px;
  
    position: absolute;
top:0px;
    color: white;
    z-index: 1;
}
@media only screen and (max-width:450px) {
  .home::before{
      content: '';
      left: 0;
      top: 0;
      height: 50px;
      width: 50px;
     border-bottom-right-radius: 100%;
  }
    .row{
        animation-name: mymove 5s;
      

    }
    @keyframes mymove {
        from{
           margin-top: 0px;
        }
        to{
            margin-top: 100px;
        }
        
    }
    .heading{
        font-size: 50px;
    }
    .sub{
        font-size: 50px;
    }
    
}
