
.container{
    height: 100vh;

 
}
.r1{
    height:500px;
   
   
}
.f1{
    font-size: 20px;
}
.r2{
    height: 500px;
  /*   border: 1px solid black; */
   
}
.clr2{
    color: white;
}
.clr2:hover{
    color:#00ADB5;
}
.carbon h1{
    color:#00ADB5;
}
.res{
    cursor: pointer;
    display: inline-block;
    background-color: #393E46;
   padding: 10 30;
   color:white;
   border-radius: 5px;
}
/* .res:hover{
    background-color: white;
    border: 1px solid #222831;
    color:#00ADB5;
} */
.c1 span{
    color: #00ADB5;
}
.c1 h1,p {
    padding-top:20px;
    padding-bottom: 20px;
}
.c1 span::before{
    content:'';
    animation: animate infinite 8s;
}
@keyframes animate {
    0%{
        content:'am LOGARAM..'
    }
    25%{
        content: 'am a Developer..';
    }
    50%{
        content: 'am a Editor..';
    }
    75%{
        content: 'am a Designer..';
    }
    100%{
        content: 'am LOGARAM..';
    }
    
}
.c1 img{
    height: 450px;
    width: auto;
}
.r2 .c1 img{
    height: 400px;
   /*  border: 1px solid blueviolet; */
}
.n1{
    background-color: #f1f5f5;
    color:white;
}
.text-clr1{
    color:#EEEEEE;
}
.hir{
    border:1px solid #222831;
    padding: 10 30;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    color: #00ADB5;
}
.c2 h1{
    color:#00ADB5;
}
.r3{
    background-color: #00ADB5;

}
textarea{
    border-radius: 5px;
    border-style: none;
  
}
.query img{
    height: 300px;
}

.c4,.c5{
    color: #00ADB5;
/* border: 1px solid black; */
}
.c4 img{
    height:350px;
  /*  border: 1px solid blueviolet; */
 
  }
.c5 img{
    height: 350px;
   /*  border: 1px solid blueviolet; */
}
.r4{
    height: 500px;
}
@media only screen and (max-width: 455px){
    .r1{
        height: 500px;
        
        text-align: center;
    }
    .r1 img{
        display: none;
        height: 350px;
    }
    .r2{
        height: 900px;
    }
    .c4 img{
        height:250px;
    }
    .c5 img{
        height: 250px;
        width: 350px;
        margin-left:40px;
    }
}