*{
    padding:0px;
    margin: 0px;
}
body{
    font-family: sans-serif;
}


.form{
    width: 100vw;
    height: 100vh;
  background:linear-gradient(45deg,rgba(0, 128, 0, 0.603),rgba(255, 166, 0, 0.644));
   flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    



}
.p{
    width: 400px;
    margin-top: 25px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.name{
    padding: 10px;
    font-weight: bold;
}